<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Baby Adventures App</title>

    <!-- Bootstrap core CSS -->
   <link href="./css/style-about.css" rel="stylesheet">
  </head>

  <body>

  <div class="jumbotron">
      <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1>What is the Baby Adventures App...</h1>
        <br />
        <br />
        <p>Inspired by George Constanza's world renowned New York Public Toilet facilities App, the Baby Adventures App is for parents who want to know the best public locations to bring their children or to breastfeed in private. </p> <br />
        <p>This app is designed for parents by parents. The origin for this website began with a family summer holiday to Westport in Co. Mayo. Travelling up from Waterford, our little daughter decided around Gort in Co. Galway that is was time for her dinner. However, not wanting to just stop in the side of the road in our car and feed her, we found ourselves in the centre of Gort trying to find a location to privately breastfeed our baby. If only we knew where such facilites could be found...  </p> <br />
          <P> Well now Irish parents do. This application lets Irish parents plan journeys, days out or even to cater for the unexpected with out the stress and inconcenience trying to find somewhere in a hurry. It means that for thie first time; Irish parents have a resource to add, view, rate and comment on breastfeeding facilities or other public facilities around the country. <P><br>
        <p><a class="btn btn-primary btn-lg" href="./#/facilities" role="button">Find a location close to You &raquo;</a></p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
      <footer>
        <p>&copy; 2016 John Fitzpatrick, Inc.</p>
      </footer>
    </div> <!-- /container -->


  </body>
</html>

