<h1>Admin Menu</h1>
  <div>   
     <p><a class="btn btn-primary btn-lg" href="./#/addfacilities" role="button">Add Breastfeeding Locations &raquo;</a></p>
      <p><a class="btn btn-primary btn-lg" href="./#/deletefacilities" role="button">Remove Breastfeeding Locations &raquo;</a></p>
     <p><a class="btn btn-primary btn-lg" href="./#/adddetails" role="button">Add Breastfeeding Details &raquo;</a></p>
     <p><a class="btn btn-primary btn-lg" href="./#/editdetails" role="button">Edit Breastfeeding Facilities &raquo;</a></p><br>
     <p><a class="btn btn-primary btn-lg" href="./#/deletesuggestions" role="button">Delete Breastfeeding Location Suggestions &raquo;</a></p><br>
     <p><a class="btn btn-primary btn-lg" href="./#/deleteposts" role="button">Delete Baby Adventure Posts &raquo;</a></p><br>
     <p><a class="btn btn-primary btn-lg" href="./#/deletecomments" role="button">Delete Comments &raquo;</a></p><br>
     <p><a class="btn btn-primary btn-lg" href="#/register" role="button">Register a new Admin user &raquo;</a></p><br>
    </div>
  </div>