<h1>All Breastfeeding Facilities</h1>
  <div>   
    <div ng-controller="DeleteFacilitiesController" >
      <table class="table table-bordered">
        <thead>
          <th class="name" >Place</th>
          <th class="snippet">Town</th>
          <th class="county">County</th>
          <th class="button1" ng-if="posts.length > 0"></th>
        </thead>

       <tbody ng-repeat="post in posts" ng-switch="post.state">

         

          <!-- Deleted Mode Template -->
          <tr class="danger" ng-switch-when="deleted">
            <td>{{post.name}}</td>
            <td>{{post.town}}</td>
            <td>{{post.county}}</td>
            <td>
              <input type="button" class="btn btn-danger" 
                     ng-click="confirmDelete($index)" 
                     value="Confirm" />
            </td>
            <td>
              <input type="button" class="btn btn-success" 
                    ng-click="undoDelete(post)" 
                    value="Undo"/>
            </td>
          </tr>

          <!-- Normal Mode Template -->
          <tr ng-switch-default>
            <td>{{post.name}}</td>
            <td>{{post.town}}</td>
            <td>{{post.county}}</td>

            <td>
              <input type="button" class="btn btn-danger" 
                      ng-click="deleteFacility(post,$index)" 
                      value="Delete"/>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>