<h1>All Baby Adventure Comments</h1>
  <div>   
    <div ng-controller="deletecommentsController" >
      <table class="table table-bordered">
        <thead>
          <th class="comments" >comments</th>
          <th class="button1" ng-if="posts.length > 0"></th>
        </thead>

       <tbody ng-repeat="post in posts" ng-switch="post.state">

<!-- Deleted Mode Template -->
          <tr class="danger" ng-switch-when="deleted">
            <td>{{post.comments}}</td>
            <td>
              <input type="button" class="btn btn-danger" 
                     ng-click="confirmDelete($index)" 
                     value="Confirm" />
            </td>
            <td>
              <input type="button" class="btn btn-success" 
                    ng-click="undoDelete(post)" 
                    value="Undo"/>
            </td>
          </tr>
         

          
          <!-- Normal Mode Template -->
          <tr ng-switch-default>
            <td>{{post.comments}}</td>


            <td>
              <input type="button" class="btn btn-danger" 
                      ng-click="deletePost(post,$index)" 
                      value="Delete"/>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>