  <head>
   <!-- Bootstrap core CSS for Home Page -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <br />
        <h1>The Baby Adventures App</h1>
        <br />
        <p>Do you know the best little baby friendly restaurant in town? Are you looking for breastfeeding facilities in Dublin city centre? Or do you want to find out where you can bring your little baby when your out and about. The Baby Adventure App is here for all your questions and Answers. For the first time, there is a community based app to reveal all the best secrets of being out and about with your baby and young children.  </p> <br />
          <P>As well as a community based feedback blog, we have an approved list of breastfeeding facilities around the country. Now you can view and assess where you want to go with your baby when its time for a feed. Now you have the freedom to plan your day out and about with your baby.<P>
        <p><a class="btn btn-primary btn-lg" href="./#/facilities" role="button">Find a location close to You &raquo;</a></p>
        <br />
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Your Baby Adventure Stories</h2>
          <p>Do you know the best little baby restaurant in town? Have you experienced bad service somewhere? Share your feedback and baby adventure stories and let other parents benefit from your experiences. </p>
          <p><a class="btn btn-default" href="./#/feedback" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Find Breasfeeding facilities</h2>
          <p>We have scanned the the best breastfeeding facilities across the country and brought you the definitive list. See everything you need to know from opening hours to directions to whether parking is provided.</p>
          <p><a class="btn btn-default" href="./#/facilities" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Have we missed something - tell us about it!</h2>
          <p>Have we missed a great location that is great for families. Please let us know. Simply fill out the details and we will assess it and add it to our app.</p>
          <p><a class="btn btn-default" href="./#/add" role="button">View details &raquo;</a></p>
       </div>        
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 John Fitzpatrick, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../...public/validate.js"></script>
  </body>
</html>
