<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Baby Adventures App</title>

    <!-- Bootstrap core CSS -->
   <link href="./css/style-about.css" rel="stylesheet">
  </head>

  <body>

  <div class="jumbotron">
      <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1>Coming Soon...</h1>
        <br />
        <br />
        <p>Enjoy this app for now before we add a user authentication </p> <br />
        <p><a class="btn btn-primary btn-lg" href="./#/home" role="button">Explore this app &raquo;</a></p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
      <footer>
        <p>&copy; 2016 John Fitzpatrick, Inc.</p>
      </footer>
    </div> <!-- /container -->


  </body>
</html>

